@import url(../work-request-form/work-request-form.component.scss);

.ng-invalid.ng-touched {
  border-color: rgb(255, 153, 0);
}

.ng-valid.ng-touched {
  border-color: green;
}

.invalid-feedback {
  display: block;
}

.error {
  font-size: 0.7em !important;
  font-weight: 700 !important;
}

table {
  thead {

    tr {
      th {
        text-align: center;
        border: 1px solid black;
        background-color: rgba(211, 210, 210, 0.979);
      }
    }
  }
}
