// @import url(../work-request-form/work-request-form.component.scss);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.highlighted {
  transition: background-color 0.3s ease-in-out;
  background-color: #af0707 !important;

  /* Light yellow highlight */
  input {
    transition: background-color 0.3s ease-in-out;
    background-color: #af0707 !important;
    /* Light yellow highlight */
    color: white !important;
    border: none !important;
    cursor: pointer;
  }
}

.search_div {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 35px;
  padding: 10px;
  background-color: rgb(241, 240, 240);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-bottom: 10px;

  h4 {
    font-size: 1.3em;
    margin: 0;
    padding: 7px;
    font-weight: 600;
    background-color: rgb(236, 235, 235);
    color: rgb(216, 17, 17);
    text-align: center;
  }

  label {
    font-size: 0.9em;
    height: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  input {
    font-size: 0.75em;
    font-weight: 500;
    color: black;
    width: 75%;
    border-radius: 0;
    padding: 0;
    height: 30px;
    border: 1px solid rgb(190, 189, 189);
    padding-left: 3px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}

.col_table {
  border: 1px solid rgb(19, 16, 16);
  padding: 3px;
  overflow: hidden;
  overflow-x: scroll;
}

.bttn_div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .yesbtn {
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    font-weight: 600 !important;
    font-size: 0.75em;
    border-radius: 4px;
    border: 1px solid rgb(240, 237, 237);

    &:hover {
      cursor: pointer;
      font-weight: 600 !important;
      border: none;
      background-color: rgb(216, 17, 17);
      color: white;
      text-shadow: none;
    }
  }
}

table {
  width: 100%;

  thead {
    text-align: center;

    .monthss {
      width: 17%;
      font-size: 0.72em;
      font-weight: 700;
    }

    .year {
      font-size: 1.5em;
      font-weight: 700;
      background-color: rgba(245, 222, 179, 0.719);

      i {
        margin-top: -13px !important;
        font-size: 0.7em !important;

        &:hover {
          color: rgb(175, 15, 15) !important;
          cursor: pointer !important;
        }
      }
    }

    .date {
      font-size: 0.76em;
      font-weight: 700;
    }
  }

  tbody {
    td {
      padding: 2px;
    }

    .months {
      padding: 0 5px;
      font-size: 0.66em;
      font-weight: 700;
    }

    input {
      font-size: 0.85em;
      font-weight: 600;
      color: black;
      padding: 2px;
      border-radius: 0;
      border: 1px solid rgb(194, 194, 194);
      height: 20px;
    }
  }
}

.custom-dialog-container .mat-dialog-container {
  transform: translate(-50%, -50%) !important;
  border-radius: 0 !important;
  /* This ensures the dialog is centered */
}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: 0% !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border: none;
  display: flex;
  animation: mat-mdc-dialog-surface 1s ease;
}

@keyframes mat-mdc-dialog-surface {
  from {
    transform: scale(0);
  }

  to {
    transform: none;
  }
}

.no-border-radius-dialog .mat-dialog-container {
  border-radius: 0 !important;
}


.modify {

  form {
    margin: 10px;
    margin-top: 0;
    border: 1px solid grey;
  }

  span {
    font-size: 0.6em;
    font-weight: 600;
    width: 90%;
    padding-left: 10px;
  }

  h2 {
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid rgb(177, 175, 175);
    font-weight: 600;
  }

  .check_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 5px;
    width: max-content;

    label {
      font-size: 0.75em;
      font-weight: 600;
      margin-left: 5px;
      width: 30px !important;
    }
  }

  .list_drop {
    position: absolute;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
    border: 1px solid rgb(209, 208, 208);
    list-style: none;
    height: min-content;
    max-height: 250px;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 3px 0;

    li {
      font-size: 0.75em;
      padding: 5px;
      font-weight: 500;

      &:hover {
        background-color: rgb(231, 231, 231);
        cursor: pointer;
      }
    }
  }

}

.action_a {
  color: rgb(192, 22, 22);
  font-weight: 600;
  font-size: 0.76em;
  cursor: pointer;
  padding-left: 5px;
  text-decoration: none;

  &:hover {
    color: rgb(196, 4, 4);
    font-weight: 700;
    text-decoration: underline;
  }
}

.no-data-message {
  padding: 20px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  color: rgb(156, 5, 5);
  background-color: white;
  border: 1px solid rgb(233, 233, 233);
}