<div class="container-fluid">

  <div class="row schedule_date_event_detail mb-3" id="task_detail">

    <div class="col-7">
      <div class="data_of_request mt-2">
        <div class="col-12 heading_form">
          <h3>
            Task ID Information (
            <span [ngStyle]="{
              'color': 
                task_details?.test_Status === 'Approved' ? 'green' : 
                task_details?.test_Status === 'Submitted' ? 'green' : 
                task_details?.test_Status === 'Draft' ? '#c79c04' : 
                task_details?.test_Status === 'Tentatively Approved' ? '#c79c04' : 
                task_details?.test_Status === 'Cancelled' ? 'red' : 
                task_details?.test_Status === 'Reject' ? 'red' : 
                task_details?.test_Status === 'Approval Pending' ? '#fc7303' : ''
            }">
              {{task_details?.test_Status}}
            </span>

            )
            <hr class="mb-1">
            <div *ngIf="task_details?.test_Status != 'Cancelled' ">

              <a (click)="modify_details('modify')" *ngIf="isValidForEdit.includes(task_details?.test_Status)">
                [Edit Task Details]
              </a>
              {{isValidForEdit.includes(task_details?.test_Status) ? '|' : ''}}

              <a (click)="modify_details('complete_draft_request')"
                *ngIf="isValidForcomplete_draft_request.includes(task_details?.test_Status)">
                [Complete this request]
              </a>
              {{isValidForcomplete_draft_request.includes(task_details?.test_Status) ? '|' : ''}}

              <a (click)="taskStatusChanger('cancel')" *ngIf="isValidForCancel.includes(task_details?.test_Status)">
                [Cancel Test]
              </a>
              {{isValidForCancel.includes(task_details?.test_Status) ? '|' : ''}}

              <a (click)="taskStatusChanger('draft')"
                *ngIf="isValidForchangeToDraft.includes(task_details?.test_Status)">[Change to Draft]</a>
              {{isValidForchangeToDraft.includes(task_details?.test_Status) ? '|' : ''}}

              <a (click)="submit_approval(task_details)" style="color:green; font-weight: 700;"
                *ngIf="isValidForSubmitForApproval.includes(task_details?.test_Status)">[Submit for Approval]
              </a>
              <!-- <span style="color: black;"> (If request status is draft)</span> -->
            </div>

            <div *ngIf="isValidForClicktoApprove.includes(task_details?.test_Status)
             && ((User.role === 'Admin' || User.role === 'Lead'|| User.role === 'Tech') || approversList.includes(userName))">
              <hr class="mb-1 mt-1">
              <div class="scrolling-text">
                <span class="span" (click)="taskStatusChanger('Approval Pending')">RESOURCE OWNER: THIS TEST REQUIRES
                  YOUR APPROVAL. <a>CLICK TO APPROVE</a></span>
              </div>
            </div>

          </h3>

        </div>

        <table class="table table-bordered">
          <thead>

            <tr>
              <th>Work Id/Task Id:</th>
              <td>{{task_details?.workId}} / {{task_details?.taskId}}</td>
            </tr>

            <tr>
              <th>Requestor Id:</th>
              <td>{{task_details?.requestor}} - {{task_details?.requestor_Name}}</td>
            </tr>

            <tr>
              <th>Location:</th>
              <td>{{task_details?.location}}</td>
            </tr>

            <tr>
              <th>Resource:</th>
              <td>{{task_details?.resource}}</td>
            </tr>

            <tr>
              <th>Description:</th>
              <td>{{task_details?.description}}</td>
            </tr>

            <tr *ngIf="task_details?.charge_Codes !=''">
              <th>Charge Code:</th>
              <td class="d-flex" style="align-items: center;">
                <div *ngFor="let item of chargeCode_WorkOrder_list | slice:0:1; let isFirst = first" [title]="item">
                  {{ item }}{{ isFirst ? ',' : ',' }}
                </div>
                <div class="user_detail" *ngIf="chargeCode_WorkOrder_list?.length > 2"
                  style="width: 20% !important; padding: 0 !important; margin-left: 6px;">
                  <div class="detail_box">
                    <h5>
                      <span style="color: black; font-weight: 600;">
                        + View All
                      </span>
                      <i class="bi bi-chevron-double-down mx-2"></i>
                    </h5>
                    <div class="name">
                      <div class="key-descriptions" *ngFor="let item of chargeCode_WorkOrder_list" [title]="item">
                        {{ (item.length > 70) ? (item | slice:0:70) + '...' : item }}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

            <tr *ngIf="task_details?.work_Orders !=''">
              <th>Work Order:</th>
              <td class="d-flex" style="align-items: center;">
                <div *ngFor="let item of chargeCode_WorkOrder_list | slice:0:2;let isLast = last" [title]="item">
                  {{item }}{{ isLast ? '' : ' ,' }}
                </div>
                <div class="user_detail" *ngIf="chargeCode_WorkOrder_list?.length > 2"
                  style="width: 20% !important; padding: 0 !important; margin-left: 6px;">
                  <div class="detail_box">
                    <h5>
                      <span style="color: black; font-weight: 600;">
                        + View All
                      </span>
                      <i class="bi bi-chevron-double-down mx-2"></i>
                    </h5>
                    <div class="name">
                      <div class="key-descriptions" *ngFor="let item of chargeCode_WorkOrder_list" [title]="item">
                        {{ (item.length > 70) ? (item | slice:0:70) + '...' : item }}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

            <!-- <tr>
              <th>Duration (Requested):</th>
              <td>{{task_details?.daysRequested}}</td>
            </tr> -->

            <tr>
              <th>Lithium Battery:</th>
              <td>{{task_details?.lithiumBattery === true ? 'Yes' : 'No'}}</td>
            </tr>

            <tr *ngIf="task_details?.lithiumBattery === true">
              <th>Lithium Battery Description:</th>
              <td>{{task_details?.lithiumBatteryDescription}}</td>
            </tr>

            <tr>
              <th>Radiation:</th>
              <td>{{task_details?.radiation === true ? 'Yes' : 'No'}}</td>
            </tr>

            <tr *ngIf="task_details?.radiation === true">
              <th>Radiation Description:</th>
              <td>{{task_details?.radiationDescription}}</td>
            </tr>

            <!-- <tr *ngIf="task_details?.startDate != null">
              <th>Start Date:</th>
              <td>{{task_details?.startDate.split("T")[0] }} {{task_details?.startDate.split("T")[1] }}</td>
            </tr>

            <tr *ngIf="task_details?.endDate != null">
              <th>End Date:</th>
              <td>{{task_details?.endDate.split("T")[0]}} {{task_details?.endDate.split("T")[1] }}</td>
            </tr>

            <tr>
              <th>Total Test Hours:</th>
              <td>{{task_details?.daysRequested}}</td>
            </tr> -->

            <tr>
              <th [ngClass]="heightAdjust.includes(task_details?.test_Status) ? 'selected_th':''">Test Status:</th>
              <td [ngClass]="heightAdjust.includes(task_details?.test_Status) ? 'timer-display':''"
                style="font-size: 0.8em; font-weight: 700;" [ngStyle]="{
              'color': 
                task_details?.test_Status === 'Approved' ? 'green' : 
                task_details?.test_Status === 'Submitted' ? 'green' : 
                task_details?.test_Status === 'Draft' ? '#c79c04' : 
                task_details?.test_Status === 'Tentatively Approved' ? '#c79c04' : 
                task_details?.test_Status === 'Cancelled' ? 'red' : 
                task_details?.test_Status === 'Reject' ? 'red' : 
                task_details?.test_Status === 'Approval Pending' ? '#fc7303' : ''
              }">
                {{task_details?.test_Status}} <br>
                <span style="color: black; font-size: 0.85em;" *ngIf="task_details?.test_Status === 'Submitted'">
                  (Start and end dates not submitted. Click 'Submit for Approval' at the top.)
                </span>
                <span style="color: black;  font-size: 0.85em;" *ngIf="task_details?.test_Status === 'Draft'">
                  (Click the 'Complete this request' button at the top to complete this request.)
                </span>
                <span style="color: black;  font-size: 0.85em;"
                  *ngIf="task_details?.test_Status === 'Approval Pending'">
                  (Click the 'CLICK TO APPROVE' button at the top to Approve the request.)
                </span>
                <span style="color: black;  font-size: 0.85em;"
                  *ngIf="task_details?.test_Status === 'Tentatively Approved'">
                  (Click the 'CLICK TO APPROVE' button at the top to Approve the request.)
                </span>
              </td>
            </tr>
          </thead>

        </table>

        <hr class="mt-2">
        <h4 style="font-size: 0.83em;">Task Duration & Scheduled Details (If Scheduled)</h4>
        <table class="table table-bordered testTable">
          <thead>

            <tr>
              <th>Duration (Requested):</th>
              <td>{{task_details?.daysRequested}}</td>
            </tr>

            <tr *ngIf="task_details?.startDate != null">
              <th>Scheduled Start Date:</th>
              <td>{{task_details?.startDate.split("T")[0] }}</td>
            </tr>

            <tr *ngIf="task_details?.endDate != null">
              <th>Scheduled End Date:</th>
              <td>{{task_details?.endDate.split("T")[0]}}</td>
            </tr>

          </thead>

        </table>

        <hr class="mt-2" *ngIf="(task_details?.totalHours != 0)">
        <h4 style="font-size: 0.83em;" *ngIf="(task_details?.totalHours != 0)">Test Details (If Started)</h4>
        <table class="table table-bordered testTable">
          <thead>

            <tr *ngIf="(task_details?.totalHours != 0)">
              <th>Test Hours:</th>
              <td>{{task_details?.totalHours}}</td>
            </tr>

            <tr *ngIf="task_details?.testStartDate != null">
              <th>Test Start Date:</th>
              <td>{{task_details?.testStartDate?.split("T")[0] }} {{task_details?.testStartDate?.split("T")[1] }}</td>
            </tr>

            <tr *ngIf="task_details?.testEndDate != null">
              <th>Test End Date:</th>
              <td>{{task_details?.testEndDate?.split("T")[0]}} {{task_details?.testEndDate?.split("T")[1] }}</td>
            </tr>

          </thead>

        </table>
        <!-- *ngIf="task_details?.test_Status != 'Cancelled'" -->
        <div>

          <hr class="mt-2">
          <h4>Log Entries | <button class="bttn_add" (click)="add_log_entries()">[Click here to Add Log Entries]
            </button>
          </h4>
          <table class="table table_log table-bordered">
            <thead>
              <tr>
                <th>Hall ID</th>
                <th>Username</th>
                <th>Timestamp</th>
                <th>Log Entry</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngIf="this.log_entry_data?.length === 0">
                <td> &nbsp; </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
              <tr *ngFor="let data of log_entry_data">
                <td>{{data.userID}}</td>
                <td>{{data.userName}}</td>
                <td>{{data.timeStamp}}</td>
                <td>{{data.logEntry}}</td>
              </tr>

            </tbody>

          </table>

          <hr class="mt-2">
          <h4>Contacts | <button class="bttn_add" (click)="add_contact()">
              [Click here to Add Contact]
            </button>
          </h4>
          <h3 *ngIf="contacts?.length === 0"
            style=" padding: 5px; text-align: center; background-color: white; color: rgb(156, 1, 1); font-size: 1.3em;">
            No contacts are attached to this task.</h3>

          <ng-container *ngIf="contacts?.length !== 0">
            <table class="table table-bordered">
              <thead class="theadbottom">
                <tr>
                  <th>Hall ID</th>
                  <th>User Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let contact of contacts">
                  <td>{{contact.userId}}</td>
                  <td>{{contact.userName}}</td>
                  <td> <a href="mailto:{{contact.email}}">{{contact.email}}</a></td>
                  <td align="center"> <i class="bi bi-trash3-fill"
                      (click)="delete_Request('Contact', contact.userId)"></i> </td>
                </tr>
              </tbody>

            </table>
          </ng-container>

          <hr class="mt-2">
          <h4>Data </h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Task Data:</th>
                <td><a (click)="dataCenterRoute()">Click here to view data.</a></td> 
              </tr>
            </thead>

          </table>

          <hr class="mt-2">
          <h4>Files | <button class="bttn_add" (click)="upload_file()">
              [Click here to Upload File]
            </button>
          </h4>
          <h3 *ngIf="upload_file_details?.length === 0"
            style=" padding: 5px; text-align: center; background-color: white; color: rgb(156, 1, 1); font-size: 1.3em;">
            No files are attached to this task.</h3>

          <ng-container *ngIf="upload_file_details?.length !== 0">
            <table class="table table-bordered">
              <thead class="theadbottom">
                <tr>
                  <th>File Name</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let data of upload_file_details">
                  <td>{{data.fileName}}</td>
                  <td>{{data.description}}</td>
                  <td align="center"><i (click)="download_file(data.fileName)" class="bi bi-cloud-download-fill"></i>
                    &nbsp; | &nbsp; <i class="bi bi-trash3-fill" (click)="delete_Request('File', data.fileName)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>

          <hr class="mt-2">
          <h4>Links | <button class="bttn_add" (click)="add_link()">
              [Click here to Add Link]
            </button>
          </h4>
          <h3 *ngIf="upload_link?.length === 0"
            style=" padding: 5px; text-align: center; background-color: white; color: rgb(156, 1, 1); font-size: 1.3em;">
            No links are attached to this task.</h3>

          <ng-container *ngIf="upload_link?.length !== 0">
            <table class="table table-bordered">
              <thead class="theadbottom">
                <tr>
                  <th>Link</th>
                  <th>Description</th>
                  <th style="width: 40px !important;">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let link of upload_link">
                  <td><a [href]="link.link.startsWith('http') ? link.link : 'https://' + link.link" target="_blank">
                      {{ link.link }}
                    </a>
                  </td>
                  <td>{{link.description}}</td>
                  <td style="width: 40px !important;" align="center"> <i class="bi bi-trash3-fill"
                      (click)="delete_Request('Link', link.link)"></i> </td>
                </tr>

              </tbody>
            </table>
          </ng-container>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="loader" *ngIf="isLoading">
  <div class="spinner"></div>
</div>