@import url(../work-request-form/work-request-form.component.scss);

table {
  thead {

    tr {
      th {
        text-align: center;
        border: 1px solid black;
        background-color: rgba(211, 210, 210, 0.979);
      }
    }
  }

  tbody {

    tr {
      td {
        font-size: 0.74em;
      }

      th,
      td {
         border: 1px solid rgb(167, 166, 166);
      }
    }

    .selected-row {
      th,
      td {
        background-color: #c8ecfa !important;
      }
    }
  }
}

.no-data-message {
  padding: 20px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  color: rgb(156, 5, 5);
  background-color: white;
  border: 1px solid rgb(233, 233, 233);
}

.error {
  padding: 3px 0;
  text-align: right;
  font-size: 0.75em;
  font-weight: 700;
  width: 90%;
  color: rgb(156, 5, 5);
}

input {
  font-size: 0.75em;
  font-weight: 500;
  color: black;
  width: 90%;
  border-radius: 0;
  padding: 0;
  height: 30px;
  border: 1px solid rgb(190, 189, 189);
  padding-left: 3px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


td {
  cursor: pointer !important;
}