<div class="container-fluid">
    <div class="row" style="padding: 5px;">
        <div class="col-12 search_div  table_col tabIs_spinnerle-responsive">
            <h4>Task Execution</h4>
            <div class="d-flex" style="display: flex; align-items: flex-end;">
                <div style="width: 50%;">
                    <label for="search">Search by Task number, or Any Relevant Information:</label>
                    <input type="text" id="search" [(ngModel)]="searchText"
                        placeholder="Search by Task number, or Any Relevant Information">
                </div>
                <div style="width: 50%; " class="bttn_div" *ngIf="selectedRequests.length">
                    <button class="start_btn" (click)="test_execution('start')"
                        *ngIf="selectedRequests[0].status === 'Approved' || selectedRequests[0].status === 'Completed'">
                        Start Activity
                    </button>
                    <button class="start_btn" (click)="test_execution('edit')"
                        *ngIf="selectedRequests[0].status === 'Completed'">Edit Activity</button>
                    
                        <button class="start_btn" (click)="test_execution('end')"
                        *ngIf="selectedRequests[0].status === 'In Progress'">End Activity</button>
                </div>
            </div>
        </div>
        <div class="col-12">
             <!-- table_col table-responsive -->
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>S.No</th>
                        <th>Task ID</th>
                        <th>Description</th>
                        <th>Resource</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Test Duration (Hours)</th>
                        <th>Status</th>
                        <!-- <th>Action</th> -->
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let request of filteredItems| paginate: { itemsPerPage, currentPage: page } ; 
                        let i = index" [class.selected-row]="isSelected(request)" (click)="select_task(request)">
                        <th>
                            <input type="checkbox" [checked]="isSelected(request)"
                                (change)="toggleSelection(request, $event)"
                                style="height: 15px; border: 1px solid black; box-shadow: none;">
                        </th>
                        <th>{{i +1}}</th>
                        <td>{{ request?.taskID }}</td>
                        <td>{{ request?.description }}</td>
                        <td>{{ request?.resource }}</td>
                        <td>
                            {{ request?.requested_StartDate?.split("T")[0] }}
                            &nbsp; &nbsp; 
                            {{request?.requested_StartDate | date: 'shortTime'}}</td>
                        <td>
                            {{ request?.requested_EndDate?.split("T")[0] }}
                            &nbsp; &nbsp; 
                            {{request?.requested_EndDate | date: 'shortTime'}}</td>
                        <td>{{ request?.duration}}</td>
                        <td [ngStyle]="{
              'color': 
                request?.status === 'Approved' ? 'green' : 
                request?.status === 'Completed' ? 'black' : 
                request?.status === 'In Progress' ? 'rgb(191 151 6)' :  ''
              }">{{ request?.status }}</td>
                        <!-- <td style="text-align: center;"><a (click)="view_all_detail(request?.taskID)">View
                                Detail</a>
                        </td> -->
                    </tr>
                </tbody>
            </table>

            <!-- Show 'No data yet' if no data matches the filter -->
            <div *ngIf="filteredItems.length === 0" class="no-data-message">
                No data available with this Task ID
            </div>
            <div
                style="display: flex;justify-content: center; margin-top: 20px; font-size: 0.87em !important; font-weight: 600 !important;">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>